body{
    background-image:url('assets/libBackground.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.book-table {
  border: solid .3rem;
  border-color: #433122;
}
.library-rows.table-rows:hover {
  background-color:#665242;
  color: orange;
}
/* Style the header */
.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

}
.carousel-image {
  height: 600px;
  width:100%;
}

#myFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

.tiny-modal-text {
  font-size: 70%;
}

.img-thumbnail.book-cover-thumbnail {
  width: 235px;
  height: 200px;
}
.card.center-card {
  margin: auto;
}
.marg-top-bot{
  margin-top:5%;
  margin-bottom: 10%;
}

.bg-dark-brown {
  background-color: #665242;
}

.bg-dark-beige {
  background-color: #AE9784;
}

.bg-light-beige {
  background-color: #D7BDA7;
}

.bg-light-brown {
  background-color: #897461;
}

.bg-darkest-brown {
  background-color: #433122;
}
.color-white {
  color:white;
}
.btn.bg-light-beige:hover {
  background-color: #AE9784;
}

.bg-wood {
  background-image: url("assets/wood-bg.jpg");
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #D7BDA7;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #AE9784;
}

.show {
  display:block !important;
  margin:auto;
}

.hide {
  display: none !important;
  margin:auto;
}

.hideLisa {
  opacity: 0;
  margin:auto;
}

.hideLisa:hover {
  opacity:1;
  margin:auto;
}

#randomBookCoverImage {
  max-height: 200px;
}

#selectedBookCoverImage {
  max-height: 200px;
}

.thumbnailImage{
  max-height:50px;
}

.thumbnailImage:hover {
  max-height: 125px;
}




.rainbow1 {
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow1 5s infinite;

  /* Internet Explorer */
  -ms-animation: rainbow1 5s infinite;

  /* Standar Syntax */
  animation: rainbow1 5s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow1{
  0%{color: orange;}
  10%{color: purple;}
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: blue;}
	100%{color: orange;}
}
/* Internet Explorer */
@-ms-keyframes rainbow1{
  0%{color: orange;}
  10%{color: purple;}
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: blue;}
	100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow1{
  0%{color: orange;}
  10%{color: purple;}
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: blue;}
	100%{color: orange;}
}
