.book-table {
  border: solid .3rem;
}
.library-rows.table-rows:hover {
  background-color: yellow;
}
/* Style the header */
.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
#myFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}
.table.table-striped.book-table.pad-bottom {
  margin-bottom: 5%;
}

.tiny-modal-text {
  font-size: 70%;
}

.img-thumbnail.book-cover-thumbnail {
  width: 235px;
  height: 200px;
}
.card.center-card {
  margin: auto;
}
